@import 'tailwindcss';
@import './loading.css';

@layer base {
  ::selection {
    @apply bg-indigo-500 text-white;
  }
  body {
    @apply h-screen overflow-y-auto overflow-x-hidden bg-gray-200 text-gray-800;
  }
  #app {
    @apply h-screen;
  }
}

@layer components {
  .h1 {
    @apply text-2xl font-bold text-gray-800;
  }
  .card {
    @apply bg-white rounded-2xl shadow-2xl;
  }
  .label {
    @apply block text-sm/4 font-medium text-gray-500 select-none cursor-default;
  }
  .input {
    @apply w-full min-h-9 py-1 text-base bg-white text-gray-800 border-b-[2px] border-gray-300 transition duration-200 ease-in-out focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 disabled:opacity-50 disabled:pointer-events-none;
  }
  .input:-webkit-autofill {
    @apply bg-white text-gray-800;
    -webkit-box-shadow: 0 0 0 1000px theme('colors.white') inset !important;
    -webkit-text-fill-color: theme('colors.gray.800') !important;
  }
  .search {
    @apply w-full py-2 px-4 border rounded-full text-base bg-white text-gray-800 border-gray-300 transition duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none;
  }
  .switch {
    @apply relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none;
  }
  .switch-marker {
    @apply pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out;
  }
  .btn {
    @apply flex w-full justify-center py-2.5 px-4 border-0 rounded-full text-sm font-medium select-none cursor-pointer transition duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none;
  }
  .btn-primary {
    @apply bg-indigo-600 text-white hover:bg-indigo-500 focus:ring-indigo-500;
  }
  .btn-danger {
    @apply bg-red-600 text-white hover:bg-red-500 focus:ring-red-500;
  }
  .tag {
    @apply inline-flex py-1 px-2 border rounded-full text-sm/3.5 font-medium capitalize select-none;
  }
  .tag-primary {
    @apply border-indigo-600 text-indigo-600;
  }
  .tag-primary.tag-active {
    @apply text-white bg-indigo-500;
  }
  .tag-clickable {
    @apply cursor-pointer transition duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2;
  }
  .tag-clickable.tag-primary {
    @apply hover:text-white hover:bg-indigo-500 focus:ring-indigo-500;
  }
  .loader {
    --w: 10ch;
    @apply overflow-hidden whitespace-nowrap w-[var(--w)];
    letter-spacing: calc(10 * var(--w));
    animation: loading 3s infinite;
  }
  .loader::before {
    @apply content-['Loading...'] text-transparent;
  }
}
